Cleaning of Suicide Rates Data in Python

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("/Users/janhvipimpalkar/Desktop/Cleaning/master.csv")
pd.set_option("display.max_columns", None)
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21.0,312900,6.710000,Albania1987,NaN,"2,15,66,24,900",796.000000,Generation X
1,Albania,1987,male,35-54 years,16.0,308000,5.190000,Albania1987,NaN,"2,15,66,24,900",796.000000,Silent
2,Albania,1987,female,15-24 years,14.0,289700,4.830000,Albania1987,NaN,"2,15,66,24,900",796.000000,Generation X
3,Albania,1987,male,75+ years,1.0,21800,4.590000,Albania1987,NaN,"2,15,66,24,900",796.000000,G.I. Generation
4,Albania,1987,male,25-34 years,9.0,274300,3.280000,Albania1987,NaN,"2,15,66,24,900",796.000000,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
31751,Ukraine,2017,female,75+ years,256.0,44831135,0.571032,Ukraine2017,0.785458,1.12E+11,2638.326055,G.I. Generation
31752,United Kingdom,2017,female,75+ years,104.0,66058859,0.157435,United Kingdom2017,0.914735,2.70E+12,40857.755580,G.I. Generation
31753,United States of America,2017,female,75+ years,501.0,325122128,0.154096,United States of America2017,0.918620,1.95E+13,60109.655730,G.I. Generation
31754,Uruguay,2017,female,75+ years,14.0,3422200,0.409094,Uruguay2017,0.816745,64233966861,18690.893840,G.I. Generation
31755,Uzbekistan,2017,female,75+ years,3.0,32388600,0.009263,Uzbekistan2017,0.691258,62081323299,1916.764642,G.I. Generation

Remove the E+ values from gdp_for_year($) and convert to 10^

In [3]:

# Function to remove 'E+' part from numbers
def remove_num(x):
    if "E+" in x:
        # Split the string into parts before and after 'E+'
        parts = x.split("E+")
        
        # Extract the base and exponent parts
        base_part = parts[0]
        exponent_part = parts[1]
        
        # Convert the base part to a float and format it without exponential notation
        base_part_formatted = format(float(base_part), '.0f')
        
        # Concatenate the formatted base part and the exponent part
        result = base_part_formatted + " * 10^" + exponent_part
        
        return result
    else:
        return x

# Check and remove leading/trailing whitespaces in column names
df.columns = df.columns.str.strip()

# Apply the updated function to the column
df['gdp_for_year ($)'] = df['gdp_for_year ($)'].apply(remove_num)

# Print the updated DataFrame
df['gdp_for_year ($)']

0        2,15,66,24,900
1        2,15,66,24,900
2        2,15,66,24,900
3        2,15,66,24,900
4        2,15,66,24,900
              ...
31751         1 * 10^11
31752         3 * 10^12
31753         2 * 10^13
31754       64233966861
31755       62081323299
Name: gdp_for_year ($), Length: 31756, dtype: object

Round each float value in the column to the nearest integer and convert it to an integer data type.

In [4]:
import numpy as np
# Remove or replace non-finite values
df['suicides_no'] = df['suicides_no'].replace([np.inf, -np.inf], np.nan).fillna(0).astype(int)

# Print the cleaned column
df['suicides_no']

0         21
1         16
2         14
3          1
4          9
        ...
31751    256
31752    104
31753    501
31754     14
31755      3
Name: suicides_no, Length: 31756, dtype: int64

In [5]:
df.to_csv('cleaned_data.csv', index=False)